In [2]:
import numpy as np

In [3]:
import pandas as pd

#### Creating a Dataframe using raw date with Dictionary

In [4]:
Car_Name=["BMW",'Audi','Volvo','Ferrari','Jaguar','AustonMartin','Jeep']
Car_Price=['2Cr', '1Cr','3cr','4cr','1cr','9cr','80lkh']
Car_Cmpny_Loc=['Germany','Germany','France','Sweden','India','UK','USA']

In [5]:
data={'Car_Name':Car_Name,'Car_Price':Car_Price,'Car_Cmpny_Loc':Car_Cmpny_Loc}

In [6]:
data

{'Car_Name': ['BMW',
  'Audi',
  'Volvo',
  'Ferrari',
  'Jaguar',
  'AustonMartin',
  'Jeep'],
 'Car_Price': ['2Cr', '1Cr', '3cr', '4cr', '1cr', '9cr', '80lkh'],
 'Car_Cmpny_Loc': ['Germany',
  'Germany',
  'France',
  'Sweden',
  'India',
  'UK',
  'USA']}

In [7]:
cars=pd.DataFrame(data)

In [8]:
cars

       Car_Name Car_Price Car_Cmpny_Loc
0           BMW       2Cr       Germany
1          Audi       1Cr       Germany
2         Volvo       3cr        France
3       Ferrari       4cr        Sweden
4        Jaguar       1cr         India
5  AustonMartin       9cr            UK
6          Jeep     80lkh           USA

#### Reading Dataframe from file

In [9]:
df=pd.read_csv('cars.csv', header=None)

In [10]:
df.head(5)

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False

Assingning New Header

In [11]:
df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [12]:
df.columns=['Continent','Country_Code','Country_Name','Country_Per_Cap','Country_Drive_Right']

In [13]:
df

  Continent Country_Code   Country_Name  Country_Per_Cap  Country_Drive_Right
0      USCA           US  United States            809.0                False
1     ASPAC          AUS      Australia            731.0                 True
2     ASPAC          JAP          Japan            588.0                 True
3     ASPAC           IN          India             18.0                 True
4     ASPAC           RU         Russia            200.0                False
5     LATAM          MOR        Morocco             70.0                False
6       AFR           EG          Egypt             45.0                False
7       EUR          ENG        England              NaN                 True

In [15]:
df1= pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv',index_col=[2,1])

In [20]:
df1.sort_index(inplace=True)

In [21]:
df1.head(5)

                         ID  Rating
Office    Department
Bangalore Finance     U2F53     2.7
          Finance     U1F53     3.7
          Finance     U1F28     3.2
          Finance     U1F15     3.3
          Finance     U1F14     2.9

In [22]:
df2 = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv', header = None, sep = '|', index_col = 0)
df2.columns = ['Name', 'Subject', 'Maximum Marks', 'Marks Obtained', 'Percentage']
df2.index.name = 'S.No.'

In [23]:
df2.head(5)

          Name      Subject  Maximum Marks  Marks Obtained  Percentage
S.No.
1       Akshay  Mathematics             50              40          80
2       Mahima      English             40              33          83
3        Vikas  Mathematics             50              42          84
4      Abhinav      English             40              31          78
5       Mahima      Science             50              40          80

In [34]:
a=df2.loc[[2], ["S.No.", "Name", "Subject", "Percentage"]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['S.No.'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [33]:
a

          Name  Subject  Percentage
S.No.
4      Abhinav  English          78