In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://query.data.world/s/hk4qemw2vtrdpe6sbuzsiwdwfrz4el')

In [3]:
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [13]:
Mc=df['MonthlyCharges']
Mc.head(10)

0     29.85
1     56.95
2     53.85
3     42.30
4     70.70
5     99.65
6     89.10
7     29.75
8    104.80
9     56.15
Name: MonthlyCharges, dtype: float64

In [14]:
Mc.max()

118.75

In [15]:
Mc.min()

18.25

In [17]:
Mc.mean()

64.76169246059922

In [18]:
Mc.describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [20]:
df.iloc[1:5, -1:-6:-1]

,Churn,TotalCharges,MonthlyCharges,PaymentMethod,PaperlessBilling
1,No,1889.5,56.95,Mailed check,No
2,Yes,108.15,53.85,Mailed check,Yes
3,No,1840.75,42.30,Bank transfer (automatic),No
4,Yes,151.65,70.70,Electronic check,Yes

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   Contract          7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [22]:
df.shape

(7043, 9)